### Clean the data

So far we took the original data without cleaning it from outliners - like some very highly payed, white & male managers of the bank.

This shall be done here. All the other EDA notebooks then may be run again to use their calculations on the new shrinked data.

In [7]:
import pandas as pd

In [8]:
%store -r df

In [9]:
df.describe()

,SALARY,EDUC,SALBEGIN,GENDER,MINORITY,JOBCAT,SOCIODEMOGRAPHY
count,474.000000,474.000000,474.000000,474.000000,474.000000,474.000000,474.000000
mean,34419.567511,13.491561,17016.086498,0.544304,0.219409,1.411392,0.983122
std,17075.661465,2.884846,7870.638154,0.498559,0.414284,0.773201,0.998799
min,15750.000000,8.000000,9000.000000,0.000000,0.000000,1.000000,0.000000
25%,24000.000000,12.000000,12487.500000,0.000000,0.000000,1.000000,0.000000
50%,28875.000000,12.000000,15000.000000,1.000000,0.000000,1.000000,1.000000
75%,36937.500000,15.000000,17490.000000,1.000000,0.000000,1.000000,1.000000
max,135000.000000,21.000000,79980.000000,1.000000,1.000000,3.000000,3.000000

To remove the data from outliners we use the InterQuartileRange.

Therefore we calculated the 25% quartile and the 75% quartile.

Then we use the difference of those two - the IQR.

And in the end we remove all salaries which are out of the 1.5 range of the IQR below the 25% and above the 75% quartile.

In [10]:
q1 = df.describe().loc["75%", "SALARY"]
q3 = df.describe().loc["25%", "SALARY"]

iqr = q1 - q3

mask = (q1 - 1.5*iqr) <= df["SALARY"]
mask &= df["SALARY"] <= (q3 + 1.5*iqr)

In [11]:
df = df[mask]

In [12]:
%store df

Stored 'df' (DataFrame)